{% extends "base.html" %}
    {% block title %}Политика Спецэнергострой ПРО{% endblock %}
{% block styles %}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/cookie.css') }}">
{% endblock %}
{% block content %}
  <section id="personal-data" class="pay_section">
    <h2 class="payments">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ И<br>ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h2>
    <pre class="utv">УНИТАРНОЕ ПРЕДПРИЯТИЕ
«Спецэнергострой ПРО»</pre>
<h3 class="doc">1. ОБЩИЕ ПОЛОЖЕНИЯ</h3>
<p class="point">1. 1. Политика в отношении обработки персональных данных (далее – Политика) разработана в соответствии с Законом от 07.05.2021 № 99-З «О защите персональных данных» (далее – Закон) и иных нормативных правовых актов в области защиты персональных данных.</p>
<p class="point">1. 2. Политика действует в отношении всех персональных данных, которые обрабатываются Унитарным предприятием
«Спецэнергострой ПРО» (далее - Оператор). Требования настоящей Политики обязательны для исполнения всеми работниками Оператора, получившими в установленном порядке доступ к персональным данным.</p>
<p class="point">1. 3. Целью Политики является обеспечение надлежащей защиты персональных данных от несанкционированного доступа и разглашения, соблюдение прав и свобод гражданина при обработке его персональных данных, в том числе обеспечение защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</p>
<p class="point">1. 4. При организации процессов используются термины «обработка персональных данных», «персональные данные», «оператор», «субъект персональных данных», «уполномоченное лицо» и другие термины применяются в значениях, определенных в Законе.</p>
<p class="point">1. 5. Контакты Оператора:
<address class="adres">
    <p class="point">Адрес: Республика Беларусь, 223141, Минская область, г. Логойск, ул. Янки Купалы, дом 12А-4, помещение №4, кабинет 4-4</p>
    <p class="point">УНП 690868071</p>
    <p class="point">Электронная почта: <a href="mailto:Spelbtorg@mail.ru" class="adres_p">Spelbtorg@mail.ru</a></p>
    <p class="point">Телефон: <a href="tel:+375296262485" class="adres_p">+ 375 29 626 24 85</a></p>
  </address>
<p class="point">1. 6. Политика является публичным документом, предназначенным для ознакомления неограниченного круга лиц посредством ее размещения в глобальной компьютерной сети Интернет на сайте: https://www.electro-logoysk.by/, а также по юридическому адресу Оператора.</p>
<h3 class="doc">2. ОСНОВНЫЕ ПРИНЦИПЫ И ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
<p class="point">2. 1. Принципы обработки персональных данных Оператором: </p>
    <p class="point">обработка персональных данных осуществляется на законной и
справедливой основе;</p>
<p class="point">обработка персональных данных осуществляется соразмерно заявленным целям их обработки и обеспечивает на всех этапах такой
обработки справедливое соотношение интересов всех заинтересованных лиц; обработка персональных данных осуществляется с согласия субъекта персональных данных, за исключением случаев, предусмотренных
законодательными актами;</p>
<p class="point">содержание и объем обрабатываемых персональных данных соответствуют заявленным целям их обработки. Обрабатываемые персональные данные не являются избыточными по отношению к заявленным целям их обработки;</p>
<p class="point">обработка персональных данных носит прозрачный характер. Субъекту персональных данных представляется соответствующая информация, касающаяся обработки его персональных данных;</p>
<p class="point">Оператор принимает меры к обеспечению достоверности обрабатываемых им персональных данных, при необходимости обновляет их; хранение персональных данных осуществляется в форме, позволяющей идентифицировать субъекта персональных данных не дольше, чем этого
требуют заявленные цели обработки персональных данных.</p>
<p class="point">2. 2. Оператор может обрабатывать следующие персональные данные для установленных целей:</p>
<p class="point">заключение и исполнение гражданско-правовых договоров;</p>
<p class="point">получение и анализ информации, которая способствует продвижению услуг и товаров, оказываемых и выполняемых, и улучшение их качества;</p>
<p class="point">уведомление Субъекта об услугах, реализуемых Оператором; коммуникация с Субъектом, в т.ч. посредством SMS, различных
мессенджеров (Viber, Whatsapp, Telegram и т.п.);</p>
<p class="point">установление с пользователем сайта, обратной связи по форме с сайта: обращения, звонок, письмо на электронную почту Оператора, заявка;</p>
<p class="point">рассмотрение обращений, в том числе внесенных в книгу замечаний и предложений;</p>
<p class="point">в иных целях, вытекающих из требований законодательства.</p>
<h3 class="doc">3. КАТЕГОРИИ СУБЪЕКТОВ ПЕРСОНАЛЬНЫХ ДАННЫХ И ПЕРЕЧЕНЬ ПЕРСОНАЛЬНЫХ ДАННЫХ, ОБРАБАТЫВАЕМЫХ
ОПЕРАТОРОМ</h3>
<p class="point">3. 1. Содержание и объем персональных данных каждой категории субъектов определяется необходимостью достижения конкретных целей их обработки, а также необходимостью Оператора реализовать свои права и обязанности, а также права и обязанности соответствующего субъекта.</p>
<p class="point">3. 2. Субъекты персональных данных, персональные данные которых подлежат обработке Оператором:</p>
<p class="point">посетители интернет-ресурсов и пользователи сервисами предприятия;</p>
    <p class="point">контрагенты Оператора;</p>
<p class="point">физические лица, с которыми Оператор заключил (планирует заключить) договоры гражданско-правового характера;</p>
<p class="point">лица, предоставившие персональные данные предприятию иным путем;</p>
<p class="point">иные заинтересованные лица.</p>
<p class="point">3. 3. Перечень персональных данных, обрабатываемых Оператором, определяется в соответствии с законодательством, локальными нормативными правовыми актами, для достижения поставленных целей и включает в себя:</p>
<p class="point">собственное имя;</p>
<p class="point">телефон мобильный, домашний;</p>
    <p class="point">адрес электронной почты;</p>
      <p class="point">другие.</p>
<p class="point">3. 4. Персональными данными является не только информация, прямо идентифицирующая или позволяющая идентифицировать физическое лицо, но и та информация, которая в совокупности с другой имеющейся или доступной информацией с разумной вероятностью может быть использована для идентификации физического лица (cookie файлы, IP -адрес и прочее).</p>
<p class="point">3. 5. Оператор не осуществляет обработку специальных категорий персональных данных, касающихся расовой принадлежности, состояния здоровья, если иное не установлено законодательством.</p>
<h3 class="doc">4. УСЛОВИЯ И СПОСОБЫ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ ОПЕРАТОРОМ</h3>
<p class="point">4. 1. Персональные данные Оператором обрабатываются с согласия субъекта персональных данных на обработку его персональных данных, если иное не предусмотрено законодательством в сфере защиты персональных данных.</p>
<p class="point">4. 2. Согласие субъекта персональных данных может быть получено в письменной форме, в иной электронной форме.</p>
<p class="point">4. 3. В иной электронной форме согласие субъекта персональных данных может быть получено посредством: проставления отметки в чек-боксе в поле
«Я даю согласие на обработку персональных данных в соответствии с Политикой обработки персональных данных» в формах обратной связи на сайте.</p>
<p class="point">4. 4. Оператор без согласия субъекта персональных данных не раскрывает третьим лицам и не распространяет персональные данные, если иное не предусмотрено законодательством.</p>
<p class="point">4. 5. Оператор вправе поручить обработку персональных данных от своего имени или в своих интересах уполномоченному лицу на основании заключаемого с этим лицом договора. Договор должен содержать: цели обработки персональных данных; перечень действий, которые будут совершаться с персональными данными уполномоченным лицом; обязанности по соблюдению конфиденциальности персональных данных; меры по обеспечению защиты персональных данных в соответствии со ст.17 Закона о
защите персональных данных.</p>
<p class="point">4. 6. Доступ к обрабатываемым Оператором персональным данным разрешается только уполномоченным работникам по работе с персональными данными.</p>
<h3 class="doc">5. ОСНОВНЫЕ ПРАВА СУБЪЕКТА ПЕРСОНАЛЬНЫХ ДАННЫХ</h3>
<p class="point">5. 1. Субъект персональных данных имеет право:</p>
<p class="point">получать информацию, касающуюся обработки его персональных данных;</p>
<p class="point">получать от предприятия информацию о предоставлении своих персональных данных третьим лицам на условиях, определенных Законом;</p>
<p class="point">получать любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Оператору с помощью электронной почты Spelbtorg@mail.ru;</p>
<p class="point">отзывать согласие на обработку персональных данных путём направления письменного обращения:
– на электронную почту: <a href="mailto:Spelbtorg@mail.ru" class="adres_p">Spelbtorg@mail.ru</a>
– либо почтовым отправлением по адресу: Республика Беларусь, 223141, Минская область, г. Логойск, ул. Янки Купалы, дом 12А-4, помещение №4, кабинет 4-4;</p>
<p class="point">обжаловать действия (бездействия) и решения Оператора, связанные обработкой персональных данных. Субъект персональных данных вправе обжаловать действия (бездействия) Оператора в уполномоченный орган по защите персональных данных, в порядке предусмотренном законодательством об обращениях граждан и юридических лиц;</p>
<p class="point">требовать изменения его персональных данных в случае, если персональные данные являются неполными, устаревшими или неточными;</p>
<p class="point">требовать прекращения обработки своих персональных данных, включая их удаление, при отсутствии оснований для обработки персональных данных, предусмотренных Законом и иными законодательными актами;</p>
<p class="point">осуществления иных прав, предусмотренных законодательством.</p>
<p class="point">5. 2. Оператор вправе отказать субъекту персональных данных в удовлетворении требований о прекращении обработки его персональных данных и (или) их удалении при наличии оснований для обработки, предусмотренных законодательными актами, в том числе если они являются необходимыми для заявленных целей.</p>
<p class="point">5. 3. Субъекту персональных данных может быть отказано в предоставлении информации в соответствии с п. 3 ст. 11 Закона о персональных данных.</p>
<p class="point">5. 4. За содействием в реализации прав субъект персональных данных может обратиться к лицу ответственному за осуществление внутреннего контроля за обработкой персональных.</p>
      <h3 class="doc">6. МЕРЫ, ПРИНИМАЕМЫЕ ОПЕРАТОРОМ ДЛЯ ОБЕСПЕЧЕНИЯ ВЫПОЛНЕНИЯ ОБЯЗАННОСТЕЙ ПРИ ОБРАБОТКЕ ПЕРСОНАЛЬНЫХ
ДАННЫХ</h3>
<p class="point">6. 1. Для осуществления внутреннего контроля за обработкой персональных данных назначается ответственное лицо (лицо, на которое возложено выполнение его функций).</p>
<p class="point">6. 2. Оператор обеспечивает применение мер защиты персональных данных от неправомерного или случайного доступа к ним, удаления, изменения, блокирования, копирования, распространения персональных данных, а также иных неправомерных действий в отношении персональных данных.</p>
<p class="point">6. 3. Оператор при обработке персональных данных обеспечивает их защиту и осуществляет следующие мероприятия:</p>
<p class="point">ознакомление работников, непосредственно осуществляющих обработку персональных данных, с положениями законодательства о персональных данных, проведение обучения;</p>
<p class="point">установление порядка доступа к персональным данным, в том числе обрабатываемым в информационном ресурсе (системе);</p>
<p class="point">предоставляет неограниченный доступ, в том числе с использованием глобальной компьютерной сети Интернет, к документам, определяющим политику Оператора в отношении обработки персональных данных, до начала такой обработки;</p>
<p class="point">прекращение обработки персональных данных при отсутствии оснований для их обработки;</p>
<p class="point">незамедлительное уведомление уполномоченного органа по защите прав субъектов персональных данных о нарушениях систем защиты персональных данных;</p>
<p class="point">ограничение обработки персональных данных достижением конкретных, заранее заявленных законных целей;</p>
<p class="point">осуществление хранения персональных данных в форме, позволяющей идентифицировать субъектов персональных данных, не дольше, чем этого требуют заявленные цели обработки персональных данных.</p>
 <h3 class="doc">7. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h3>
<p class="point">7. 1. Вопросы, касающиеся обработки персональных данных, не отраженные в Политике, регулируются законодательством Республики Беларусь о защите персональных данных, а также иными локальными актами Оператора.</p>
<p class="point">7. 2. Оператор имеет право по своему усмотрению изменять и (или) дополнять условия настоящей Политики без предварительного уведомления субъектов персональных данных.</p>
<p class="point">7. 3. Действующая редакция Политики доступна в открытом доступе в глобальной компьютерной сети Интернет на сайте Оператора.</p>
</section>

      <p class="policy-footer">Дата последнего обновления: 4.03.2026</p>
{% endblock %}
{% block scripts %}

{% endblock %}